<div class="modal-body"> 
    <div class="row">
    {% csrf_token %}
        {% for campo in form %}
            {% if campo.name == 'idreferencia' %}
                <div class="col-12 mb-4">
                    <label class="form-label">{{ campo.label }}</label>
                    <input class="form-control" name="{{ campo.name }}" value="{{ campo.value | default:''}}" list="referencias" placeholder="{{ campo.label }}" />
                    <datalist id="referencias">
                        {% for select in campo %}
                            {{ select }}
                        {% endfor %}
                    </datalist>
                    <div id="errores{{campo.name}}">

                    </div>
                </div>
            {% else %}
                <div class="col-12 mb-4">
                    <label class="form-label">{{ campo.label }}</label>
                    <input
                        type="{% if campo.name == 'fecha' %}date{% else %}text{% endif %}"
                        id="{{campo.name}}"
                        class="form-control {{ campo.name }}" 
                        name="{{ campo.name }}"
                        aria-describedby="helpId"
                        placeholder="{{campo.label}}"
                        value="{{ campo.value | default:''}}"
                    />
                    <div id="errores{{campo.name}}">

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>