{% extends 'base_int.html' %}
{% load static %}

{% block titulo %}
    Interfaz
{% endblock titulo %}

{% block contenido %}

    {% load static %}
    <div class="container-fluid text-center mb-4 main">
        <div class="row justify-content-evenly">
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "marca" %}" style="color: black;">
                    <div class="col">
                        <h5>Marcas</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/marcas.png' %}" alt="Imagen Marcas">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "mercancia" %}" style="color: black;">
                    <div class="col">
                        <h5>Mercancia</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/mercancia.png' %}" alt="Imagen Marcas">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "gastoDiario" %}" style="color: black;">
                    <div class="col">
                        <h5>Gastos Diarios</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/gastosDiarios.png' %}" alt="Imagen Gastos Diarios">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "referencia" %}" style="color: black;">
                    <div class="col">
                        <h5>Referencias</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/referencias.png' %}" alt="Imagen Referencias">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "ventaDiaria" %}" style="color: black;">
                    <div class="col">
                        <h5>Ventas Diarias</h5>  
                    </div>
                    <div class="col">
                        <img src="{% static 'img/ventasDiarias.png' %}" alt="Imagen Ventas Diarias">
                    </div>
                </a>
            </div>
        </div>

        {% comment %} <div class="row justify-content-evenly mb-3">
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "ventaDiaria" %}" style="color: black;">
                    <div class="col">
                        <h5>Ventas Diarias</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/ventasDiarias.png' %}" alt="Imagen Ventas Diarias">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "gastoDiario" %}" style="color: black;">
                    <div class="col">
                        <h5>Gastos Diarios</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/gastosDiarios.png' %}" alt="Imagen Gastos Diarios">
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "referencia" %}" style="color: black;">
                    <div class="col">
                        <h5>Referencias</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/referencias.png' %}" alt="Imagen Referencias">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "marca" %}" style="color: black;">
                    <div class="col">
                        <h5>Marcas</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/marcas.png' %}" alt="Imagen Marcas">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md modulos">
                <a href="{% url "mercancia" %}" style="color: black;">
                    <div class="col">
                        <h5>Mercancia</h5>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/mercancia.png' %}" alt="Imagen Marcas">
                    </div>
                </a>
            </div>
        </div> {% endcomment %}
    </div>

{% endblock contenido %}