<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            {% load static %}
            <h3 class="modal-title">Editar Venta Diaria</h3>
            <img class="ml-3" src="{% static 'img/logo.png' %}" alt="Logo Sena" style="width: 4rem">
        </div>
        <form class="formEditar" action="{% url 'editar_VentaDiaria' object.id %}" enctype="multipart/form-data" method="POST">
            {% include "ventasDiarias/form.html" %}
            <div class="modal-footer text-center">
                <button class="btn btn-outline-success" type="button" onclick="editar();">
                    Confirmar
                </button>
                <button type="button" class="btn btn-outline-danger" onclick="cerrarModalEditar();">
                    Cancelar
                </button>
            </div>
        </form>
        <script>
            $('#ventatanque').select2({
                dropdownParent: $('#editar')
            });
        </script>
    </div>
</div>