{% extends 'base_inicio.html' %}
{% load static %}

{% block titulo %}
    contraseña
{% endblock %}

{% block contenido %}
    {% load static %}

    <div class="container text-center formPswrd">
        <h3>Su contraseña ha sido cambiada exitosamente</h3>
        <div style="display: flex; justify-content: center;">
            <i style="width: 80%;height: 2px ;border-bottom: 1px solid rgba(56 56 56 /.3); margin-bottom: 1rem;"></i>
        </div>
        <a class="btn btn-outline-success" href="{% url 'inicio' %}">
            Volver a inicio
        </a>
    </div>

{% endblock %}