{% extends 'base_inicio.html' %}
{% load static %}

{% block titulo %}
  Cambio de contraseña
{% endblock titulo %}

{% block contenido %}

    {% load static %}

    {% if validlink %}
        <div class="container text-center">
            <form class="formPswrd mx-auto p-4" method="POST" enctype="multipart/form-data">
                <h2 class="mb-3">Cambiar contraseña</h2>
                {% csrf_token %}
                <div class="row">
                    {% for contrasena in form %}
                        <div class="col-12 mb-3">
                            <label class="form-label">{{contrasena.label}}</label>
                            <input
                                type="password"
                                class="form-control"
                                name="{{contrasena.name}}"
                                id="{{contrasena.id_newpassword}}"
                                {% if contrasena.name == "new_password1" %}
                                    value="{{request.POST.new_password1}}"
                                {% else %}
                                    value="{{request.POST.new_password2}}"
                                {% endif %}
                            />
                        </div>
                        {% if contrasena.errors %}
                            <ul class="col-12 mb-3 alert alert-danger list-group">
                                {{contrasena.errors}}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    <div class="col-12 mt-4">
                        <input type="submit" class="btn btn-outline-success px-5">
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container text-center formPswrd">
            <h3>Enlace invalido, este enlace ya ha sido utilizado</h3>
            <h3>Intenta con otro enlace</h3>
            <a class="btn btn-outline-success" href="{% url 'inicio' %}">
                Volver
            </a>
        </div>
    {% endif %}

{% endblock contenido %}